Repository ChargeUnity/TQS_ChargeUnity, pull requests merged in 2025-05, with the labels that each got.

#10 Ch 58 cant start containers
  ChargeUnity/backend/Dockerfile.backend
  ChargeUnity/backend/pom.xml
  ChargeUnity/docker-compose.yml
Labels: backend

#11 CH-41-Create-SpringBoot-models
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/config/Utils.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/enums/BookingStatus.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/enums/ChargerStatus.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/enums/ChargerType.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/model/Booking.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/model/Car.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/model/Charger.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/model/Driver.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/model/Operator.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/model/Station.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/model/Trip.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/model/User.java
Labels: enhancement, backend

#12 services and repositories for users, drivers and operators
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/repository/DriverRepository.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/repository/OperatorRepository.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/repository/UserRepository.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/service/DriverService.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/service/OperatorService.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/service/UserService.java
Labels: enhancement, backend

#15 Trip Service Tests
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/service/TripService.java
  ChargeUnity/backend/src/test/java/tqs/ChargeUnity/TripServiceTests.java
Labels: tests

#19 Ch 80 fix booking repository overlapping bookings query error
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/repository/BookingRepository.java
Labels: bug

#18 Ch 59 integrate sonar qube
  .github/workflows/blank.yml
  .github/workflows/ci.yml
  ChargeUnity/backend/pom.xml
Labels: tests

#20 code style formatter
  .github/workflows/code_style.yml
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/ChargeUnityApplication.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/config/Utils.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/enums/BookingStatus.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/enums/ChargerStatus.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/enums/ChargerType.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/model/Booking.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/model/Car.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/model/Charger.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/model/Driver.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/model/Operator.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/model/Station.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/model/Trip.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/model/User.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/repository/BookingRepository.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/repository/CarRepository.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/repository/ChargerRepository.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/repository/DriverRepository.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/repository/OperatorRepository.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/repository/StationRepository.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/repository/TripRepository.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/repository/UserRepository.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/service/BookingService.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/service/CarService.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/service/ChargerService.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/service/DriverService.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/service/OperatorService.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/service/StationService.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/service/TripService.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/service/UserService.java
  ChargeUnity/backend/src/test/java/tqs/ChargeUnity/ChargeUnityApplicationTests.java
  ChargeUnity/backend/src/test/java/tqs/ChargeUnity/TripServiceTests.java
Labels: enhancement, backend

#23 Ch 55 create unit tests
  .github/workflows/ci.yml
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/model/Booking.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/model/Car.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/model/Charger.java
  ChargeUnity/backend/src/test/java/tqs/ChargeUnity/config/UtilsTest.java
  ChargeUnity/backend/src/test/java/tqs/ChargeUnity/enums/BookingStatusTest.java
  ChargeUnity/backend/src/test/java/tqs/ChargeUnity/enums/ChargerStatusTest.java
  ChargeUnity/backend/src/test/java/tqs/ChargeUnity/enums/ChargerTypeTest.java
  ChargeUnity/backend/src/test/java/tqs/ChargeUnity/model/BookingTest.java
  ChargeUnity/backend/src/test/java/tqs/ChargeUnity/model/CarTest.java
  ChargeUnity/backend/src/test/java/tqs/ChargeUnity/model/ChargerTest.java
  ChargeUnity/backend/src/test/java/tqs/ChargeUnity/model/DriverTest.java
  ChargeUnity/backend/src/test/java/tqs/ChargeUnity/model/OperatorTest.java
  ChargeUnity/backend/src/test/java/tqs/ChargeUnity/model/StationTest.java
  ChargeUnity/backend/src/test/java/tqs/ChargeUnity/model/TripTest.java
Labels: backend, tests

#21 CH-81 frontend for registering charging stations
  ChargeUnity/frontend/config.js
  ChargeUnity/frontend/package-lock.json
  ChargeUnity/frontend/package.json
  ChargeUnity/frontend/src/App.css
  ChargeUnity/frontend/src/App.jsx
  ChargeUnity/frontend/src/Driver.jsx
  ChargeUnity/frontend/src/Home.jsx
  ChargeUnity/frontend/src/Navbar.jsx
  ChargeUnity/frontend/src/Operator.jsx
  ChargeUnity/frontend/src/index.css
  ChargeUnity/frontend/src/main.jsx
Labels: enhancement, frontend

#25 Operator, station, charger
  ChargeUnity/backend/pom.xml
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/controller/ChargerController.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/controller/OperatorController.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/controller/StationController.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/model/Charger.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/model/Operator.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/model/Station.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/service/OperatorService.java
  ChargeUnity/docker-compose.yml
Labels: backend

#24 Ch 79 driver booking charger services and tests
  .github/workflows/ci.yml
  .github/workflows/code_style.yml
  ChargeUnity/.DS_Store
  ChargeUnity/backend/.DS_Store
  ChargeUnity/backend/.gitignore
  ChargeUnity/backend/pom.xml
  ChargeUnity/backend/src/.DS_Store
  ChargeUnity/backend/src/main/.DS_Store
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/controller/BookingController.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/controller/ChargerController.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/controller/DriverController.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/controller/OperatorController.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/controller/StationController.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/dto/BookingRequestDTO.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/model/Booking.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/model/Charger.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/model/Operator.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/model/Station.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/repository/BookingRepository.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/repository/DriverRepository.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/repository/OperatorRepository.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/repository/StationRepository.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/service/BookingService.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/service/CarService.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/service/ChargerService.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/service/DriverService.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/service/OperatorService.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/service/StationService.java
  ChargeUnity/backend/src/test/java/tqs/ChargeUnity/ChargeUnityApplicationTests.java
  ChargeUnity/backend/src/test/java/tqs/ChargeUnity/model/OperatorTest.java
  ChargeUnity/backend/src/test/java/tqs/ChargeUnity/model/StationTest.java
  ChargeUnity/backend/src/test/java/tqs/ChargeUnity/service/BookingServiceTest.java
  ChargeUnity/backend/src/test/java/tqs/ChargeUnity/service/CarServiceTest.java
  ChargeUnity/backend/src/test/java/tqs/ChargeUnity/service/ChargerServiceTest.java
  ChargeUnity/backend/src/test/java/tqs/ChargeUnity/service/DriverServiceTest.java
  ChargeUnity/backend/src/test/java/tqs/ChargeUnity/service/OperatorServiceTest.java
  ChargeUnity/backend/src/test/java/tqs/ChargeUnity/service/TripServiceTests.java
  ChargeUnity/docker-compose.yml
Labels: backend, tests

#26 Ch 85 implement end points
  .github/workflows/ci.yml
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/controller/BookingController.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/model/Booking.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/model/Charger.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/model/User.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/repository/StationRepository.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/service/BookingService.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/service/StationService.java
  ChargeUnity/backend/src/test/java/tqs/ChargeUnity/controller/BookingControllerIT.java
  ChargeUnity/backend/src/test/resources/application-test.properties
Labels: backend, tests

#27 Ch 75 charging station and chargers service logic and tests
  .gitignore
  ChargeUnity/backend/pom.xml
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/config/CorsConfig.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/config/Utils.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/controller/ChargerController.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/controller/StationController.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/model/Booking.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/model/Car.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/model/Charger.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/model/Driver.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/model/Operator.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/model/Trip.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/service/ChargerService.java
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/service/StationService.java
  ChargeUnity/backend/src/main/resources/data.sql
  ChargeUnity/backend/src/test/java/tqs/ChargeUnity/service/StationServiceTest.java
  ChargeUnity/docker-compose.yml
  ChargeUnity/frontend/config.js
  ChargeUnity/frontend/src/Driver.jsx
  ChargeUnity/frontend/src/Operator.jsx
Labels: enhancement, frontend, backend

#29 CH-90 update data.sql to update if entry is duplicate
  ChargeUnity/backend/src/main/resources/data.sql
Labels: bug, backend

#32 Ch 91 connect tests to jira
  .github/workflows/ci.yml
  ChargeUnity/backend/pom.xml
  ChargeUnity/backend/src/test/java/tqs/ChargeUnity/controller/BookingControllerIT.java
  ChargeUnity/backend/src/test/java/tqs/ChargeUnity/model/BookingTest.java
  ChargeUnity/backend/src/test/java/tqs/ChargeUnity/model/ChargerTest.java
  ChargeUnity/backend/src/test/java/tqs/ChargeUnity/model/DriverTest.java
  ChargeUnity/backend/src/test/java/tqs/ChargeUnity/model/StationTest.java
  ChargeUnity/backend/src/test/java/tqs/ChargeUnity/service/BookingServiceTest.java
  ChargeUnity/backend/src/test/java/tqs/ChargeUnity/service/ChargerServiceTest.java
  ChargeUnity/backend/src/test/java/tqs/ChargeUnity/service/DriverServiceTest.java
  ChargeUnity/backend/src/test/java/tqs/ChargeUnity/service/OperatorServiceTest.java
  ChargeUnity/backend/src/test/java/tqs/ChargeUnity/service/StationServiceTest.java
  ChargeUnity/backend/src/test/resources/META-INF/services/org.junit.platform.launcher.TestExecutionListener
Labels: documentation

#35 CH-219 updated data.sql and fixed url
  ChargeUnity/backend/src/main/resources/data.sql
  ChargeUnity/frontend/src/BookingList.jsx
Labels: frontend

#36 CH-223 update analysis step to use SonarCloud GitHub Action
  .github/workflows/ci.yml
  .github/workflows/sonarcloud-manual.yml
Labels: bug, documentation, backend

#39 CH-95-Frontend-forsearching-for-chargers-and-tests
  ChargeUnity/backend/src/main/java/tqs/ChargeUnity/controller/StationController.java
  ChargeUnity/backend/src/test/java/tqs/ChargeUnity/controller/StationControllerIT.java
  ChargeUnity/frontend/src/App.jsx
  ChargeUnity/frontend/src/DriverPage.jsx
  ChargeUnity/frontend/src/DriverStations.css
  ChargeUnity/frontend/src/DriverStations.jsx
Labels: frontend, backend, tests
